Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, vet, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

vet:
  run: make vet && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "(ruby|deployment)/" && test "{staged_files}"

forspell:
  run: forspell {staged_files}

fix(pro): handle disconnect messages from RPC
  common/common.go
  encoders/protobuf.go
  encoders/protobuf_test.go
Due: lint, vet

refactor: allow common.Message.Data to be any interface{}
  common/common.go
  node/node.go
Due: lint, vet

feat: add GetChannelStateField and GetConnectionStateField to Env
  common/common.go
  common/common_test.go
Due: lint, vet

refactor: add pubsub.Handler interface instead of AppNode
  cli/cli.go
  cmd/anycable-go/main.go
  cmd/gobench-cable/main.go
  mocks/Handler.go
  pubsub/http.go
  pubsub/http_test.go
  pubsub/redis.go
  pubsub/subscriber.go
Due: lint, vet

feat: add Session.InternalState and Session.MergeEnv
  node/session.go
  node/session_test.go
Due: lint, vet

feat: add AppNode.LookupSession
  node/hub.go
  node/node.go
  node/node_test.go
  node_mocks/AppNode.go
Due: lint, vet

fix(pro): add graphql-ws subprotocol
  ws/handler.go
Due: lint, vet

Bump 1.1.1
  CHANGELOG.PRO.md
  version/version.go
Due: lint, vet

fix: re-raise .so load errors for grpc
  lib/anycable.rb
Due: none

style: upgrade rubocop
  .rubocop/rubocop_rspec.yml
  lib/anycable.rb
Due: none

Bump 1.1.4
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

feat: add grpc client max payload size config options
  CHANGELOG.md
  cli/options.go
  rpc/config.go
  rpc/rpc.go
Due: lint, vet

Bump 1.1.4
  CHANGELOG.md
  version/version.go
Due: lint, vet

chore: add make vendor
  Makefile
Due: none

refactor: allow custom rpc dialers
  rpc/config.go
  rpc/rpc.go
  rpc/rpc_test.go
Due: lint, vet

docs: upd Dockerfile.alpine example
  etc/Dockerfile.alpine
Due: none

dev(make): use http broadcast if Redis detected
  Makefile
Due: none

docs(pro): metrics tags
  docs/instrumentation.md
  forspell.dict
Due: mdl, liche, forspell

Fix defer Redis Connection Close before checking sentinel role
  pubsub/redis.go
Due: lint, vet

feat(pro): add base identifiable controller
  identity/identity.go
  identity/identity_test.go
  mocks/Identifier.go
  mocks/controller.go
  mocks/mock_controller.go
Due: lint, vet

feat: add message_verifier
  utils/message_verifier.go
  utils/message_verifier_test.go
Due: lint, vet

feat: add jwt identification controller
  cli/cli.go
  cli/options.go
  config/config.go
  go.mod
  go.sum
  identity/identity.go
  identity/jwt.go
  identity/jwt_test.go
  vendor/github.com/golang-jwt/jwt/.gitignore
  vendor/github.com/golang-jwt/jwt/LICENSE
  vendor/github.com/golang-jwt/jwt/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/claims.go
  vendor/github.com/golang-jwt/jwt/doc.go
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/errors.go
  vendor/github.com/golang-jwt/jwt/hmac.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/none.go
  vendor/github.com/golang-jwt/jwt/parser.go
  vendor/github.com/golang-jwt/jwt/rsa.go
  vendor/github.com/golang-jwt/jwt/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/signing_method.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: lint, vet

feat(pro): add Turbo and CableReady controllers
  cli/cli.go
  cli/options.go
  config/config.go
  rails/cable_ready.go
  rails/cable_ready_test.go
  rails/config.go
  rails/turbo.go
  rails/turbo_test.go
Due: lint, vet

docs: prepare 1.2.0
  CHANGELOG.md
  docs/jwt_identification.md
  docs/signed_streams.md
  forspell.dict
  version/version.go
Due: lint, vet, mdl, liche, forspell

internal: add helper to generate subscription acks
  common/common.go
  common/common_test.go
Due: lint, vet

feat: add channels router
  router/router.go
  router/router_test.go
Due: lint, vet

chore: drop Ruby 2.6 support
  .github/workflows/test.yml
  .rubocop.yml
  CHANGELOG.md
  anycable-core.gemspec
  anycable.gemspec
Due: none

Bump 1.2.0
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

Bump 1.2.0
  CHANGELOG.md
  docs/getting_started.md
  docs/os_tuning.md
Due: mdl, liche, forspell

ci: upd push-stable
  .github/workflows/push-stable.yml
Due: none

fix(dev): restrict activesupport version
  Gemfile
Due: none

fix(ci): push-stable workflow dispatch
  .github/workflows/push-stable.yml
Due: none

ci: update push-stable to handle v1.2
  .github/workflows/push-stable.yml
Due: none

docs: rename signed streams
  docs/signed_streams.md
Due: mdl, liche, forspell

license: 2022
  MIT-LICENSE
Due: none

fix(specs): IO.select -> wait_readable
  spec/support/cli_testing.rb
Due: none

fix typos
  lib/anycable/config.rb
Due: none

Update regexp to catch invalid grpc SO errors
  lib/anycable.rb
Due: none

Path conditions:
  lint: any of: *.go
  vet: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
