Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, vet, mdl, liche, forspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: make lint && test "{staged_files}"
    vet:
      glob: "*.go"
      run: make vet && test "{staged_files}"
    mdl:
      glob: "docs/*.md"
      run: mdl {staged_files}
    liche:
      glob: "docs/*.md"
      run: liche -c 4 -r docs/* -x "(ruby|deployment)/" && test "{staged_files}"
    forspell:
      glob: "docs/*.md"
      run: forspell {staged_files}

pre-push:
  commands:
    sec:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make sec && test "{files}"
    test:
      glob: "*.go"
      files: "git diff --name-only HEAD @{push}"
      run: make test && test "{files}"

lint: ignore wait_readable
  lib/anycable/cli.rb
Due: none

fix: allow missing service name in a grpc health check
  CHANGELOG.md
  docs/health_checking.md
  lib/anycable/grpc/server.rb
  spec/integrations/grpc/health_check_spec.rb
Due: mdl, liche, forspell

Update exception handling docs for Sentry/Datadog
  docs/exceptions.md
Due: mdl, liche, forspell

docs: add Heroku and ECS sections to OS tuning
  docs/os_tuning.md
Due: mdl, liche, forspell

docs: add note about disable disconnect to signed streams
  docs/signed_streams.md
Due: mdl, liche, forspell

readme: drop Gitter
  Readme.md
Due: none

chore: RBS improvements
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  Gemfile
  Rakefile
  Steepfile
  anycable-core.gemspec
  gemfiles/rbs.gemfile
  lib/anycable/broadcast_adapters/redis.rb
  lib/anycable/health_server.rb
  lib/anycable/socket.rb
  rbs_collection.lock.yaml
  rbs_collection.yaml
  sig/anycable.rbs
  sig/anycable/broadcast_adapters/http.rbs
  sig/anycable/health_server.rbs
  sig/anycable/rpc.rbs
  sig/anycable/rpc/handler.rbs
  sig/anycable/socket.rbs
  spec/anycable/middleware_chain_spec.rb
  spec/anycable_spec.rb
  spec/integrations/health_server_spec.rb
  spec/spec_helper.rb
  spec/support/test_logger.rb
Due: none

readme: drop Gitter
  README.md
Due: none

Bump 1.2.1
  .gitignore
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

fix(specs): kill process without checking its liveness
  spec/support/cli_testing.rb
Due: none

refactor: embed usage/txt
  cli/options.go
  cli/usage.txt
Due: lint, vet

feat: support multiple endpoint paths
  cli/cli.go
  cli/options.go
  cli/usage.txt
  config/config.go
Due: lint, vet

lint: upgrade golangci configuration
  .circleci/config.yml
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
  cli/cli.go
  cmd/rpcbench/pool/main.go
  diagnostics/diagnostics.go
  diagnostics/diagnostics_gops.go
  lefthook.yml
  metrics/custom_printer.go
  metrics/custom_printer_unsupported.go
  metrics/metrics_test.go
  mrb/mrb.go
  mrb/mrb_test.go
  mrb/mrb_unsupported.go
  node/hub.go
  node/hub_test.go
  node/node_mocks_test.go
  node/node_test.go
  rails/cable_ready.go
  rails/turbo.go
  rpc/config.go
  rpc/rpc_test.go
  stats/stats.go
  utils/gopool.go
  utils/logging.go
  utils/message_verifier.go
  utils/os_limits.go
  utils/os_limits_win.go
  ws/handler.go
Due: lint, vet

ci(bench): update broadcasts scenario configuration
  benchmarks/broadcasts.benchfile
Due: none

chore: allow ruby 2.6
  .github/workflows/test.yml
  anycable-core.gemspec
  anycable.gemspec
Due: none

Bump 1.2.2
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

dev: remove rbs lockfile from repo
  .gitignore
  rbs_collection.lock.yaml
Due: none

feat: add anycable.sid header
  lib/anycable.rb
  lib/anycable/cli.rb
  lib/anycable/config.rb
  lib/anycable/middlewares/env_sid.rb
  lib/anycable/rpc.rb
  lib/anycable/socket.rb
  sig/anycable/middlewares/env_sid.rbs
  sig/anycable/rpc.rbs
  spec/anycable/rpc/handlers/env_sid_spec.rb
Due: none

Bump 1.2.3
  CHANGELOG.md
  lib/anycable/version.rb
Due: none

ci: workflow upgrade, use make
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

ci: fix benchmark workflow
  .github/workflows/benchmark.yml
Due: none

unifying all command line arguments for redis across anycable libraries
  docs/configuration.md
  lib/anycable/config.rb
  spec/integrations/cli/options_spec.rb
  spec/integrations/grpc/cli/options_spec.rb
Due: mdl, liche, forspell

fixing other redis commands that were documented incorrectly
  docs/configuration.md
  lib/anycable/config.rb
Due: mdl, liche, forspell

docs: clarify concurrency settings; drop GoFish
  docs/configuration.md
  docs/getting_started.md
Due: mdl, liche, forspell

docs: how to learn from metrics
  docs/instrumentation.md
  forspell.dict
Due: mdl, liche, forspell

Using the default ruby driver for redis adapter
  CHANGELOG.md
  lib/anycable/broadcast_adapters/redis.rb
  spec/anycable/broadcast_adapters/redis_spec.rb
Due: none

upd: add links to screencasts
  docs/jwt_identification.md
  docs/signed_streams.md
Due: mdl, liche, forspell

chore: print the number of used cpus on start
  cli/cli.go
Due: lint, vet

fix(readme): update install command
  Readme.md
Due: none

chore: upgrade deps
  cmd/rpcbench/pool/main.go
  go.mod
  go.sum
  rpc/rpc.go
Due: lint, vet

chore: add -race to benchmark/conformance binaries
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  Makefile
Due: none

ci: increase benchmarks timeout
  benchmarks/broadcasts.benchfile
  benchmarks/runner.rb
Due: none

chore: upgrade Go to 1.18
  .circleci/config.yml
  .github/workflows/benchmark.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  Makefile
  go.mod
Due: none

fix: stop/start stream race conditions
  CHANGELOG.md
  mocks/mock_controller.go
  node/hub.go
  node/node.go
  node/node_test.go
Due: lint, vet

ci: refactor conformance tests
  .circleci/config.yml
  Makefile
Due: none
