Repository anycable/anycable: changes, and which lefthook commands are due for each by the changed paths.
All: lint, vet, mdl, liche, forspell

lint:
  run: make lint && test "{staged_files}"

vet:
  run: make vet && test "{staged_files}"

mdl:
  run: mdl {staged_files}

liche:
  run: liche -c 4 -r docs/* -x "(ruby|deployment)/" && test "{staged_files}"

forspell:
  run: forspell {staged_files}

fix: avoid deadlock in hub.go
  CHANGELOG.md
  node/hub.go
Due: lint, vet

ci: fix xcode version
  .circleci/config.yml
Due: none

ci(pro): switch to pro-master
  .github/workflows/docs-lint.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  Readme.md
Due: none

feat(pro): apollo proxy
  CHANGELOG.PRO.md
  apollo/config.go
  apollo/executor.go
  apollo/executor_test.go
  apollo/gql.go
  apollo/gql_test.go
  cli/cli.go
  cli/options.go
  config/config.go
Due: lint, vet

ci(pro): add push-docker action
  .github/workflows/push-docker.yml
Due: none

docs(pro): binary formats
  docs/msgpack.md
Due: mdl, liche, forspell

dev(pro): add encoders benchmark
  benchmarks/encoders.benchfile
Due: none

feat(pro): protobuf encoding support
  Makefile
  ac_protos/action_cable.pb.go
  benchmarks/encoders_test.go
  cli/cli.go
  encoders/protobuf.go
  encoders/protobuf_test.go
  etc/action_cable.proto
  ws/handler.go
Due: lint, vet

feat(pro): statsd metrics
  CHANGELOG.PRO.md
  cli/cli.go
  cli/options.go
  etc/telegraf.conf
  go.sum
  metrics/config.go
  metrics/statsd_writer.go
  metrics/statsd_writer_test.go
  vendor/github.com/smira/go-statsd/.gitignore
  vendor/github.com/smira/go-statsd/.golangci.yml
  vendor/github.com/smira/go-statsd/.travis.yml
  vendor/github.com/smira/go-statsd/LICENSE
  vendor/github.com/smira/go-statsd/Makefile
  vendor/github.com/smira/go-statsd/README.md
  vendor/github.com/smira/go-statsd/buffers.go
  vendor/github.com/smira/go-statsd/client.go
  vendor/github.com/smira/go-statsd/go.mod
  vendor/github.com/smira/go-statsd/loops.go
  vendor/github.com/smira/go-statsd/options.go
  vendor/github.com/smira/go-statsd/statsd.go
  vendor/github.com/smira/go-statsd/tags.go
  vendor/modules.txt
Due: lint, vet

ci(pro): update ghcr url
  .github/workflows/release.yml
Due: none

ci(pro): add pro modifier to builds
  .github/workflows/release.yml
Due: none

ci(pro): use releases repo as source in docker meta
  .github/workflows/release.yml
Due: none

docs(pro): overview and memory usage
  CHANGELOG.PRO.md
  docs/pro.md
Due: mdl, liche, forspell

refactor(pro): merge netpoll; avoid copying fd-s
  Makefile
  cli/cli.go
  go.mod
  go.sum
  netpoll/LICENSE
  netpoll/epoll.go
  netpoll/handle.go
  netpoll/handle_stub.go
  netpoll/handle_unix.go
  netpoll/kqueue.go
  netpoll/netpoll.go
  netpoll/netpoll_epoll.go
  netpoll/netpoll_kqueue.go
  netpoll/netpoll_stub.go
  netpoll/util.go
  node/session.go
  vendor/github.com/mailru/easygo/netpoll/handle.go
  ws/connection.go
Due: lint, vet

ci(pro): optimize GitHub Actions usage to reduce costs
  .circleci/config.yml
  .github/workflows/docs-lint.yml
  .github/workflows/push-docker.yml
  .github/workflows/push-stable.yml
  .github/workflows/test.yml
Due: none

docs(pro): move overview to docs.anycable.io
  docs/pro.md
Due: mdl, liche, forspell

fix(pro): apollo compatibility
  apollo/executor.go
  apollo/executor_test.go
  apollo/gql.go
  apollo/gql_test.go
Due: lint, vet

ci(pro): push-docker -> release
  .github/workflows/release.yml
Due: none

docs: jwt identification
  CHANGELOG.PRO.md
  docs/jwt_identification.md
Due: mdl, liche, forspell

feat(pro): add base identifiable controller
  identity/identity.go
  identity/identity_test.go
  mocks/Identifier.go
  mocks/controller.go
  mocks/mock_controller.go
Due: lint, vet

feat: add jwt identifier
  go.mod
  go.sum
  identity/identity.go
  identity/jwt.go
  identity/jwt_test.go
  vendor/github.com/golang-jwt/jwt/.gitignore
  vendor/github.com/golang-jwt/jwt/LICENSE
  vendor/github.com/golang-jwt/jwt/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/claims.go
  vendor/github.com/golang-jwt/jwt/doc.go
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/errors.go
  vendor/github.com/golang-jwt/jwt/hmac.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/none.go
  vendor/github.com/golang-jwt/jwt/parser.go
  vendor/github.com/golang-jwt/jwt/rsa.go
  vendor/github.com/golang-jwt/jwt/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/signing_method.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: lint, vet

feat: add message_verifier
  utils/message_verifier.go
  utils/message_verifier_test.go
Due: lint, vet

chore(pro): upgrade to go 1.17
  .github/workflows/release.yml
  go.mod
  go.sum
  vendor/github.com/gobwas/httphead/go.mod
  vendor/github.com/smira/go-statsd/go.mod
  vendor/github.com/vmihailenco/msgpack/v5/go.mod
  vendor/github.com/vmihailenco/msgpack/v5/go.sum
  vendor/github.com/vmihailenco/tagparser/v2/go.mod
  vendor/modules.txt
Due: none

ci(pro): build macos binaries
  .github/workflows/release.yml
Due: none

feat: add channels router
  router/router.go
  router/router_test.go
Due: lint, vet

feat: add jwt configuration
  cli/cli.go
  cli/options.go
  config/config.go
  identity/jwt.go
  identity/jwt_test.go
Due: lint, vet

internal: add helper to generate subscription acks
  common/common.go
  common/common_test.go
Due: lint, vet

feat(pro): add Turbo and CableReady controllers
  CHANGELOG.PRO.md
  cli/cli.go
  cli/options.go
  config/config.go
  rails/cable_ready.go
  rails/cable_ready_test.go
  rails/config.go
  rails/turbo.go
  rails/turbo_test.go
Due: lint, vet

docs(pro): signed streams
  docs/signed_streams.md
  forspell.dict
Due: mdl, liche, forspell

feat(pro): add abnormal_socket_closure_total metrics
  node/node.go
  node/session.go
Due: lint, vet

fix(pro): send to session within a lock
  node/session.go
Due: lint, vet

fix(pro): upd debug info for missing jwt
  identity/jwt.go
Due: lint, vet

feat(pro): add pools pending tasks metrics
  node/node.go
  node/session.go
Due: lint, vet

Bump 1.1.3
  CHANGELOG.md
  version/version.go
Due: lint, vet

docs: new PRO features
  docs/Readme.md
  docs/binary_formats.md
  docs/jwt_identification.md
  docs/signed_streams.md
  forspell.dict
Due: mdl, liche, forspell

Bump 1.1.0-beta.2
  CHANGELOG.PRO.md
  version/version.go
Due: lint, vet

docs: add grafana dashboard image to instrumentation
  .github/workflows/docs-lint.yml
  docs/instrumentation.md
  forspell.dict
  lefthook.yml
Due: mdl, liche, forspell

docs(pro): upgrade jwt identification docs
  .github/workflows/docs-lint.yml
  docs/jwt_identification.md
  lefthook.yml
Due: mdl, liche, forspell

Path conditions:
  lint: any of: *.go
  vet: any of: *.go
  mdl: any of: docs/*.md
  liche: any of: docs/*.md
  forspell: any of: docs/*.md
